<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>   
    <form #productForm="ngForm">
        <mat-form-field>
            <input 
                matInput placeholder="Nome" 
                [(ngModel)]="product.name"
                name="name"
                required
            >
        </mat-form-field>
        <mat-form-field>
            <input 
                matInput placeholder="Descrição"
                [(ngModel)]="product.description"
                name="description"
                required
            >
        </mat-form-field>
        <mat-form-field>
            <input 
                matInput placeholder="Preço(R$)"
                [(ngModel)]="product.price"
                name="price"
                autocomplete="off"
                required
            >
        </mat-form-field>
    </form>

    <button 
        mat-raised-button (click)="createProduct()" 
        color="primary"
        [disabled]="!productForm.form.valid"
    >
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()" color="secondary">
        cancelar
    </button>
</mat-card>


<!-- ngForm      e   [disabled]="!productForm.form.valid" pra validar se os elementos com required foram preenchidos -->


